filePathOfRad = /u04/jboss/standalone/data/raddic/vRadfiles/
filePathOfNasids = /u04/jboss/standalone/data/NasIDsDIR/
filePathOfDomain = /u04/jboss/standalone/data/SaveDNS/
filePathOfCSV = /u04/jboss/standalone/data/raddic/vRadfiles/
URLForChangePolicy = ${APP_AAA_SOAP_URL}/change_policy
URLForLogout = ${APP_AAA_SOAP_URL}/logout_user