LISTEN_IP=127.0.0.1
LISTEN_PORT=8088
APP_URL=${WEB_APP_SERVER_URL}
RABBITMQ_HOSTNAME=${WEB_RABBITMQ_HOSTNAME}
RABBITMQ_PORT=${WEB_RABBITMQ_PORT}
RABBITMQ_USERNAME=${WEB_RABBITMQ_USERNAME}
RABBITMQ_PASSWORD=${WEB_RABBITMQ_PASSWORD}
RABBITMQ_EXCHANGE=${WEB_RABBITMQ_EXCHANGE}
RABBITMQ_BINDING_KEY=${WEB_RABBITMQ_BINDING_KEY}
RABBITMQ_VHOST=/
SOAPRADIUS_URL=http://127.0.0.1:8888
SPLASH_PAGE_PATH=/u04/jboss/standalone/deployments/OneBox.war/splash/
#paramnames configuration
NASID_PARAM_NAME=nasid,ap_mac,nas_mac
SSID_PARAM_NAME=ssid
VLANID_PARAM_NAME=vlan_id
CLMAC_PARAM_NAME=buname,cl_mac