<VirtualHost *:${WEB_HTTP_LISTEN_PORT}>
	# The ServerName directive sets the request scheme, hostname and port that
	# the server uses to identify itself. This is used when creating
	# redirection URLs. In the context of virtual hosts, the ServerName
	# specifies what hostname must appear in the request's Host: header to
	# match this virtual host. For the default virtual host (this file) this
	# value is not decisive as it is used as a last resort host regardless.
	# However, you must set it for any further virtual host explicitly.
	#ServerName www.example.com

	ServerAdmin webmaster@localhost
	DocumentRoot /var/www/html

	# Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
	# error, crit, alert, emerg.
	# It is also possible to configure the loglevel for particular
	# modules, e.g.
	#LogLevel info ssl:warn

	ErrorLog \${APACHE_LOG_DIR}/error.log
	CustomLog \${APACHE_LOG_DIR}/access.log combined

	# For most configuration files from conf-available/, which are
	# enabled or disabled at a global level, it is possible to
	# include a line for only one particular virtual host. For example the
	# following line enables the CGI configuration for this host only
	# after it has been globally disabled with \"a2disconf\".
	#Include conf-available/serve-cgi-bin.conf

	Timeout 2400
	ProxyTimeout 2400
	ProxyBadHeader Ignore

	SSLProxyEngine On
	SSLProxyCheckPeerCN off
	SSLProxyCheckPeerName off
	SSLProxyCheckPeerExpire on
	SSLStrictSNIVHostCheck off

	# Passes w r t splash server
	ProxyPass /OneBox/splash/splogin http://127.0.0.1:8088/splogin
	ProxyPass /OneBox/splash/spsuccess http://127.0.0.1:8088/spsuccess

        #ProxyPassMatch ^/OneBox/splash/.*[.](html|js|jpeg|png)\$ !
        #ProxyPassMatch ^/OneBox/splash/lib/.*[.](html|js|jpeg|png)\$ !
        #ProxyPassMatch ^/OneBox/splash/css/.*[.](html|js|jpeg|png)\$ !
        #ProxyPassMatch ^/OneBox/splash/images/.*[.](html|js|jpeg|png)\$ !

	# Passes w r t Jboss server
	ProxyPass /OneBox/ ${WEB_APP_SERVER_URL}/OneBox/
	ProxyPass /oss_cs_ws/ ${WEB_APP_SERVER_URL}/oss_cs_ws/
        ProxyPass /CronJOB/ ${WEB_APP_SERVER_URL}/CronJOB/
	ProxyPass /hns-rest-api/ ${WEB_APP_SERVER_URL}/hns-rest-api/
        ProxyPass /AnalyticsRestApi ${WEB_APP_SERVER_URL}/AnalyticsRestApi/

	# Passes w r t ROR
        ProxyPass /onebox/ http://127.0.0.1:8082/onebox/
    
	RewriteEngine On
	RewriteRule \"^/OneBox\$\" \"/OneBox/\" [R]
	RewriteRule \"^/ws\/\$\" \"/ws/login.html\" [R]
	RewriteRule \"^/ws\$\" \"/ws/login.html\" [R]
	RewriteRule \"^/\$\"  \"/ws/login.html\"  [R]

</VirtualHost>

<VirtualHost 127.0.0.1:8082>
       #ServerName example.com
       #ServerAlias www.example.com
       #ServerAdmin webmaster@localhost
       DocumentRoot /var/www/html/onebox/public
       #Header set Access-Control-Allow-Origin \"*\"
       RailsEnv production
       PassengerRuby /home/jboss/.rvm/gems/ruby-2.4.1@onebox/wrappers/ruby
       ErrorLog \${APACHE_LOG_DIR}/error_8082.log
       CustomLog \${APACHE_LOG_DIR}/access_8082.log combined
       <Directory \"/var/www/html/onebox/public\">
           Options FollowSymLinks
           Require all granted
       </Directory>
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
